@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
